@import url('http://fonts.googleapis.com/css?family=Lato:400,700');
body
{
  background-color: #f6f0ff;
}
.two-col {
  overflow: hidden;/* Makes this div contain its floats */
}

.two-col .col1,
.two-col .col2 {
  width: 49%;
}

.two-col .col1 {
  float: left;
}

.two-col .col2 {
  float: right;
}

.two-col label {
  display: block;
}
input[type=submit] {
  font-family: 'Lato', sans-serif;
  font-size: 15px;

  padding:5px 15px; 
  background:#5D389D; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 8px;
  border-radius: 8px; 
  color: #ddd;
}
input[type=submit]:hover{
  background-color: #7649c5;
}
.timetable{
  margin-top: 2%;
  margin: auto;
  display: table;
}
.entry {
  max-width: 500px;
  margin-left: 0%;
  text-align: left;
}
.entry label {
  text-align: left;
  display: block;
  font-family: 'Lato', sans-serif;
}
.entry h2 {
  font-size: 20px;
  color: #5D389D;
  font-family: 'Lato', sans-serif;
  margin-bottom: 30px;
  align-items: left;
}
h1{
  color: #2d1950;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
}
.entry input, .entry textarea, .entry select {
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.entry button {
  background: #5D389D;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.pic
{
  display: table;
  margin-left: auto;
  margin-right: 200px;
}
.pic img {
  display: block;
  width: 600px;
  height: 600px;
  margin: auto;
}
.rowC
{
  margin-top: 2%;
  display: flex;
}
.fm {
  max-width: 400px;
  padding-left: 200px;
  display: table;
  float: left;
}  
table{
  font-family: 'Lato', sans-serif;
  border-collapse: collapse;
}
table td{
  border: 1px solid rgba(0, 0, 0, 0.404);
}

table th
{
  background-color: #5D389D;
  color: white;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.404);
}
table tr
{
  background-color: #ffffff ;
  color: #2d1950;
}
.left{
  border-right: none;
}
.cen{
  border-right: none;
  border-left: none;
}
.right{
  border-left: none;
}
.container{
  display: table;
  padding: 50px;
  float: left;
}
.darkcell{
  background-color: #280e53;
  color: #ddd;
}
button{
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  padding:5px 15px; 
  background:#5D389D; 
  border:0 none;
  width: 100%;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  color: #ddd;
}
button:hover{
  background-color: #7649c5;
}
#clear{
  background: rgba(0, 0, 0, 0);
  border: 2px solid red;
  box-sizing: border-box;
  color: red;
}
#clear:hover{
background-color: red;
color: #ddd;
}
#page{
  width: 75%;
  margin: auto;
}
#exp{
  width: 200px;
}
.plus{
  position: relative;
}
.plus::after{
  content: '(+)';
  font-size: 1em;
  color: blackl;
  position: absolute;
  right: 5px;
  bottom: 5px;
}